<!DOCTYPE html>
<html>
    <head>
	    <title></title>
    </head>
    <body>
        <header>
            <hgroup>
                <h1>Título de la página</h1>
                <h2>Subtítulo de la página</h2>
            </hgroup>
            <nav>
                <ul>
                    <li><a href="#">Link 1</a>
                    <li><a href="#">Link 2</a>
                    <li><a href="#">Link 3</a>
                </ul>
            </nav>
        </header>

        <section>
            <article>
                <header>
                    <h1>Título del post</h1>
                    <p>Datos del post: autor, fecha, etc.</p>
     
                </header>
                <p>Contenido del artículo</p>
            </article>
        </section>
        <aside>
            Barra lateral / Sidebar
        </aside>
        <footer>
            Footer de la página
        </footer>
    </body>
</html>


